# Ignore everything by default.
*

# Bash stuff
!.bash*
.*.swp
.bash_history
.bash_local
.bash_logout
!.profile

# Zsh
!.zshrc
!.zsh
!.zsh/*
!.zsh/contrib
!.zsh/contrib/*
.zsh/data
.zsh/data/*

# Do ignore local/sensitive settings
.zsh/*local

# Swapfiles (sigh)
.zsh/*.swp

# Git aliases, identification info
!.gitconfig

# The gitignore of this repository itself (!)
!.gitignore

# My global Git excludes file (acts as a global .gitignore)
!.gitexcludes

# Vim plugins, ftplugins, syntax etc etc
!.vim
!.vim/*
!.vim/*/*
!.vim/*/*/*
!.vim/*/*/*/*
!.vim/*/*/*/*/*
!.vim/*/*/*/*/*/*

# Do ignore netrw history
.vim/.netrwhist
# Do ignore vim-plug stuff, sigh
.vim/plugged
# Vim settings
!.vimrc
# Ignore swapfiles
.vim/.*.swp
.vim/*/.*.swp
.vim/*/*/.*.swp
.vim/*/*/*/.*.swp

# Local copies of tools/scripts
!bin
!bin/*
bin/.*.swp

# Config for local daemons (e.g. squid)
!etc
!etc/*
etc/clusto*.conf

# Screen, tmux
!.screenrc
!.tmux.conf
!.tmux
!.tmux/*.yml

# Keep ignoring this, it comes from the OS.
.config/systemd/user/gpg-agent.service
# And don't see swaps as usual (sigh)
.config/systemd/user/.*.swp

